<div>
	<a href="#" class="goGroup"><p class="groupnaam">{{groupname}}</p></a>
	<span>{{username}}</span>
	<a href="#" class="addMe">+</a>
</div>


{{!-- <ul>
 	<li><img src="./assets/storage/{{picture}}" alt="{{username}}"></li>
	<li><p class="name">{{username}}</p></li>
</ul> --}}
