<article class="group">
	<header>
		<h1 class="goGroup">
			{{groupname}}
		</h1>
	</header>
	<span id="players">

		<figure>
			<a href="#" class="user">
				<span>
					<img src="assets/usergenerated/profilepictures/{{picture}}" alt="{{username}}" />
				</span>
			</a>
			<figcaption>
				<p>{{username}}</p>
			</figcaption>
		</figure>

		<figure>
			<a href="#" class="user">
				<span>
					<img src="assets/usergenerated/profilepictures/{{picture}}" alt="{{username}}" />
				</span>
			</a>
			<figcaption>
				<p>{{username}}</p>
			</figcaption>
		</figure>

			<figure>
				<a href="#" class="addMe">
					<span class="empty-slot">
					</span>
				</a>
				<figcaption>
					<p>Inschrijven</p>
				</figcaption>
			</figure>
</article>
