	<nav>
		<button id="back">terug</button>
		<button id="scores"><p class="hidden">scores</p></button>
	</nav>
	<section id="contestant">
		<header id="contestant-header">
			<h1>
				{{username}}
			</h1>
		</header>
		<span id="contestant-profile-photo">
			<img src="assets/usergenerated/profilepictures/{{picture}}" alt="foto" />
		</span>
		<p id="score-banner">
			total score
		</p>
		<p id="total-score-holder">
			{{score}}
		</p>
	</section>
	<section>
		<header class="hidden">
			<h1>
				dagen overzicht
			</h1>
		</header>
		<article class="contestant-day">
			<header>
				<h1>
					maandag
				</h1>
				<h2>
					stoel
				</h2>
			</header>
			<p class="contestant-day-score">
				15
			</p>
			<span class="contestant-day-photo">
				<img src="assets/usergenerated/profilepictures/{{picture}}" alt="foto">
			</span>
		</article>
		<article class="contestant-day">
			<header>
				<h1>
					maandag
				</h1>
				<h2>
					stoel
				</h2>
			</header>
			<p class="contestant-day-score">
				15
			</p>
			<span class="contestant-day-photo">
				<img src="assets/usergenerated/profilepictures/{{picture}}" alt="foto">
			</span>
		</article>
		<article class="contestant-day">
			<header>
				<h1>
					maandag
				</h1>
				<h2>
					stoel
				</h2>
			</header>
			<p class="contestant-day-score">
				15
			</p>
			<span class="contestant-day-photo">
				<img src="assets/usergenerated/profilepictures/{{picture}}" alt="foto">
			</span>
		</article>
		<article class="contestant-day">
			<header>
				<h1>
					maandag
				</h1>
				<h2>
					stoel
				</h2>
			</header>
			<p class="contestant-day-score">
				15
			</p>
			<span class="contestant-day-photo">
				<img src="assets/usergenerated/profilepictures/{{picture}}" alt="foto">
			</span>
		</article>
	</section>
